* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav {
    background: #3167de;
    padding: 20px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    margin: 0 20px;
}

nav, .hero-banner,.hero-text, .info, .info-container, .info-header {
    display: flex;
}

.hero-banner, .info-container {
    background: #0d47c1;
}

.info {
    background: #7890c5;
    padding: 20px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-container {
    display: block;
    margin: 20px;
    padding: 20px 20px;
    width: 1000px;
}

.info-header {
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

#home {
    margin-right: auto;
}